// RESOLUTIONS

$mobile-min-width: 320px;
$tablet-width: 767px;
$desktop-width: 1279px;
$desktop-max-width: 1440px;

// COLORS

$color-default: #1698d9;
$color-default-hover: #2ea8e6;
$color-selected: #d91667;
$color-selected-hover: #e62e7a;
$color-disabled: rgba(179, 179, 179, 0.5);
$color-yellow: #ffff66;
$color-grey: #666666;
$color-black: #000000;
$color-white: #ffffff;
$color-background: #f2f2f2;
